<form class="topup-form" #myForm="ngForm" (ngSubmit)="actionOnSubmit(user)" novalidate>
<div class="account-section">
    <div class="input-section container">
      <div class="form-group">
          <label for="account"> Account</label>
          <select  id="financialAccount" class="form-control" required name="financialAccount" #financialAccount="ngModel" [(ngModel)]="user.financialAccount">
            <option selected value="{{account.id}}-{{account.name}}-{{account.number}}" *ngFor="let account of accountDetais">{{account.id}} - {{account.name}}</option>
          </select>
        </div>
      </div>
  </div>

<div class="container">      
    <h1>Top up</h1>
      <div class="form-group">
        <label for="mobile">Insert phone number:</label> <br/>
        <span>+352 08</span>
        <input type="text" class="form-control" id="phoneNumber" minlength="8" maxlength="8" placeholder="Eg. 7845124578" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber" required >
      </div>
      <div class="form-group">
        <label for="top">Top up with</label> <br/>
        <ul class="topup-option">
            <li *ngFor="let recharge of rechargeValues">
                <input type='radio' value='{{recharge.rechargeValue}}' name='rechargeValue' id='radio{{recharge.id}}' #rechargeValue="ngModel" [(ngModel)]="user.rechargeValue" required/>
                <label for='radio{{recharge.id}}'>{{recharge.rechargeValue}}&euro;</label>
            </li>
        </ul>

        <label class="checkbox-inline"><input type="checkbox" #isRecurring="ngModel" [(ngModel)]="user.isRecurring" name="isRecurring" >Turn this top up into a recurring top up</label>
      </div>
      <div class="form-group no-border">
          <label for="top">Payment</label> 
          <p>The payment will be processed in the account joyfamily in the next bill</p>
          <label class="checkbox-inline"><input type="checkbox" #termsAndConditionResult="ngModel" [(ngModel)]="user.termsAndConditionResult" name="termsAndConditionResult" required >I've read and accept <a href="javascript:void(0)">terms & conditions</a></label>
      </div>

      <button type="submit" class="btn" [disabled]='!myForm.valid'>Continue</button>
    </div>
</form>
